In [108]:
import pandas as pd
import numpy as np
%matplotlib inline

In [18]:
df = pd.read_csv('/Users/Rohit/Desktop/poker.csv', header=None)

In [20]:
df['C1Suit'] = df[0]
df['C1'] = df[1]
df['C2Suit'] = df[2]
df['C2'] = df[3]
df['C3Suit'] = df[4]
df['C3'] = df[5]
df['C4Suit'] = df[6]
df['C4'] = df[7]
df['C5Suit'] = df[8]
df['C5'] = df[9]
df['Class'] = df[10]
df = df[['C1Suit', 'C1', 'C2Suit', 'C2', 'C3Suit', 'C3', 'C4Suit', 'C4', 'C5Suit', 'C5', 'Class']]

In [22]:
df.head()

   C1Suit  C1  C2Suit  C2  C3Suit  C3  C4Suit  C4  C5Suit  C5  Class
0       1   1       1  13       2   4       2   3       1  12      0
1       3  12       3   2       3  11       4   5       2   5      1
2       1   9       4   6       1   4       3   2       3   9      1
3       1   4       3  13       2  13       2   1       3   6      1
4       3  10       2   7       1   2       2  11       4   9      0

In [25]:
temp = df[['C1Suit', 'C2Suit', 'C3Suit', 'C4Suit', 'C5Suit']]

In [46]:
suits = ['Hearts', 'Spades', 'Diamonds', 'Clubs']
def suitup(n):
    for i in range(1,5):
        if(n==i):
            n=suits[i-1]
            return n

In [58]:
for col in df.columns:
#     print col.lower()
    if('suit' in col.lower()):
#         print col
        df[col] = df[col].apply(lambda x: suitup(x))

/Users/Rohit/Library/Enthought/Canopy_64bit/User/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [69]:
# df['Outcome'] = df['Class'].apply()
strtemp="0: Nothing in hand; not a recognized poker hand\
      1: One pair; one pair of equal ranks within five cards\
      2: Two pairs; two pairs of equal ranks within five cards\
      3: Three of a kind; three equal ranks within five cards\
      4: Straight; five cards, sequentially ranked with no gaps\
      5: Flush; five cards with the same suit\
      6: Full house; pair + different rank three of a kind\
      7: Four of a kind; four equal ranks within five cards\
      8: Straight flush; straight + flush\
      9: Royal flush; {Ace, King, Queen, Jack, Ten} + flush"

In [95]:
c = strtemp.split('      ')
for x in c:
    x.replace(x,x.split(':')[1])

In [99]:
wintype = [i.split(':')[1] for i in c]

In [102]:
df['Outcome'] = df['Class'].apply(lambda x: wintype[x])

/Users/Rohit/Library/Enthought/Canopy_64bit/User/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [105]:
df.Outcome = df.Outcome.apply(lambda x: x.split(';')[0])

/Users/Rohit/Library/Enthought/Canopy_64bit/User/lib/python2.7/site-packages/pandas/core/generic.py:2698: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [113]:
pd.DataFrame(df.groupby('Class')['C1'].sum())

            C1
Class
0      3502444
1      2959904
2       332297
3       148974
4        28358
5        14110
6        10172
7         1542
8          103
9           23

In [115]:
df.head()

,C1Suit,C1,C2Suit,C2,C3Suit,C3,C4Suit,C4,C5Suit,C5,Class,Outcome
0,Hearts,1,Hearts,13,Spades,4,Spades,3,Hearts,12,0,Nothing in hand
1,Diamonds,12,Diamonds,2,Diamonds,11,Clubs,5,Spades,5,1,One pair
2,Hearts,9,Clubs,6,Hearts,4,Diamonds,2,Diamonds,9,1,One pair
3,Hearts,4,Diamonds,13,Spades,13,Spades,1,Diamonds,6,1,One pair
4,Diamonds,10,Spades,7,Hearts,2,Spades,11,Clubs,9,0,Nothing in hand